@import "../../../../../styles/colors/colors.scss";

.dropdown_nav_menu {
  width: 100%;
  padding: 40px 0;

  border-top: 1px solid $accent;
  background: $bgPrimary;

  position: fixed;
  left: 0;
  z-index: 1001;
}

.dropdown_nav_menu__link {
  margin-bottom: 15px;
  font-family: "Arial Nova Regular";
  font-size: 2.1rem;
  line-height: 1.2;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: $accent;
  }
}
