@font-face {
  font-family: "Arial Nova Regular";
  src: url("../../assets/fonts/ArialNovaFonts/Regular/ArialNova.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Arial Nova Ligth";
  src: url("../../assets/fonts/ArialNovaFonts/Ligth/ArialNova-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Arial Nova Bold";
  src: url("../../assets/fonts/ArialNovaFonts/Bold/ArialNova-Bold.woff");
  font-weight: 700;
}
