@import "../../../../../styles/colors/colors.scss";

.text_field {
  position: relative;
}

.text_field__input {
  &:focus {
    & + .text_field__label {
      font-size: 1.2rem;
      color: $lbSecondary;
      top: 18px;

      & span {
        color: $lbSecondary;
      }

      @media (max-width: 850px) {
        top: 15px;
      }
    }
  }

  &:valid {
    & + .text_field__label {
      font-size: 1.2rem;
      color: $lbSecondary;
      top: 18px;

      & span {
        color: $lbSecondary;
      }

      @media (max-width: 850px) {
        top: 15px;
      }
    }
  }
}

.text_field__input_error {
  border-color: $sysRed;

  &:focus {
    border-color: $sysRed;
    box-shadow: none;

    & + .text_field__label {
      font-size: 1.2rem;
      color: $lbSecondary;
      top: 18px;

      & span {
        color: $lbSecondary;
      }

      @media (max-width: 850px) {
        top: 15px;
      }
    }
  }

  &:valid {
    & + .text_field__label {
      font-size: 1.2rem;
      color: $lbSecondary;
      top: 18px;

      & span {
        color: $lbSecondary;
      }

      @media (max-width: 850px) {
        top: 15px;
      }
    }
  }
}

.text_field__label {
  font-size: 1.6rem;
  line-height: 1.4;
  color: $lbPrimary;

  position: absolute;
  top: 28px;
  left: 30px;

  transition: all 0.3s ease-in-out;

  & span {
    color: $sysRed;
  }

  @media (max-width: 850px) {
    top: 23px;
    left: 15px;
  }
}

.text_field__error_message {
  margin-top: 5px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $sysRed;
}
