@import "../../../../styles/colors/colors.scss";

.features {
  margin: 200px 0 60px 0;

  @media (max-width: 985px) {
    margin: 130px 0 40px 0;
  }

  @media (max-width: 576px) {
    margin: 110px 0 20px 0;
  }
}

.features__wrapper {
  display: flex;
  margin: 0 -20px;

  @media (max-width: 985px) {
    display: block;
    margin: 0;
  }
}

.features__content {
  width: 50%;
  padding: 0 20px;

  & p {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.4;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:first-of-type {
    @media (max-width: 985px) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 985px) {
    width: 100%;
    padding: 0;
  }
}

.features__content_title {
  font-family: "Arial Nova Regular";
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 2.8rem;
  line-height: 1.2;

  @media (max-width: 744px) {
    font-size: 2.4rem;
  }

  @media (max-width: 576px) {
    font-size: 2.1rem;
  }
}

.features__content_item__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0;

  @media (max-width: 985px) {
    margin: 0;
  }
}

.features__content_item {
  width: 50%;
  margin: 30px 0;

  @media (max-width: 985px) {
    margin: 20px 0;
  }
}

.features__content_item__icon * {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;

  @media (max-width: 744px) {
    width: 50px;
    height: 50px;
  }
}

.features__content_item__name {
  font-size: 2.1rem;
  line-height: 1.2;
  white-space: pre-line;

  @media (max-width: 744px) {
    font-size: 1.9rem;
  }

  @media (max-width: 576px) {
    font-size: 1.7rem;
  }
}
