.footer_address {
  display: flex;
}

.footer_address__wrapper {
  margin-right: 40px;
  width: 50%;

  & address {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 1130px) {
    & div {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 576px) {
    margin-right: 10px;

    & div {
      font-size: 1rem;
    }
  }
}
