// Accent
$accent: #fec110;

// Label
$lbPrimary: #2c2c2c;
$lbSecondary: #989898;
$lbTertiary: #fff;

// Background
$bgPrimary: #fff;
$bgSecondary: #f4f4f4;
$bgTertiary: #e4e4e4;
$bgQuaternary: #313232;

// Separator
$sprPrimary: #b6b6b6;
$sprSecondary: #eeecec;

// System
$sysRed: #d9534f;
$sysOrange: #ffcc00;
$sysGreen: #34c759;
